body {
    font-family: Arial, sans-serif;
  }
  
  
  image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
  }
  

  a {
    color: blue;
  }
  
  a:hover {
    color: darkred;
  }

  #fb {
    background-color: royalblue;
    border: black;
    color:aliceblue;

  }

  #footer {
    outline: gray;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  
  #fb-root {
    min-height: 1px;
  }
  
  @media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  
